#contact {
    min-height: 100vh;
    padding: 10vh 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#contact h2 {
    font-size: 6vh;
    margin-bottom: 4vh;
    color: #FFEB3B;
}

.contact-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;
    padding: 4vh;
}

.contact-form {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: center;
    justify-content: center;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 2vh;
    border-radius: 1vh;
    background-color: #232323;
    border: 1px solid #FFEB3B;
    color: #F7F7F7;
}

input::placeholder,
textarea::placeholder {
    color: #B0B0B0;
}

.contact-form textarea {
    min-height: 15vh;
    resize: vertical;
}

button {
    width: auto;
    padding: 2vh 4vh;
    border-radius: 1vh;
    border: none;
    background-color: #FFEB3B;
    text-align: center;
    font-weight: bold;
    color: #181818;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

button:hover {
    background-color: #FF5722;
    color: #F7F7F7;
    transition: 0.3s;
}

.contact-links {
    display: flex;
    gap: 3vh;
}

.contact-link {
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 2vh;
    color: #FFEB3B;
    transition: color 0.3s;
}

.contact-link:hover {
    color: #00C853;
}

.contact-link img {
    width: 5vh;
    height: 5vh;
    object-fit: cover;
    margin: 0;
    filter: brightness(0) invert(1);
}

/* Responsive design */
@media (max-width: 768px) {
    .contact-form {
        width: 95%;
    }

    .contact-form input,
    .contact-form textarea {
        padding: 1.5vh;
        font-size: 1rem;
    }

    button {
        padding: 1.5vh 3vh;
    }

    #contact h2 {
        font-size: 4vh;
    }

    .contact-link img {
        width: 4vh;
        height: 4vh;
    }
}